{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "object-curly-newline": 0,
    "import/no-extraneous-dependencies": 0,
    "react/require-default-props": 0
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
