.Container
    display: block
    padding: 15px 0

.Title
    font-weight: bold
    padding-bottom: 10px
    font-family: Georgia, serif
    font-size: 24px
    color: #222

.Content
    font-size: 18px

.Author
    text-align: right
    padding-top: 10px

    &Link
        text-transform: lowercase
        color: #101ca7
