:global
    html, body
        height: 100%
        margin: 0
        padding: 0
        font-family: Arial, sans-serif

    .blurry .react-app
        filter: blur(7px)

    .no-scroll
        overflow: hidden

.Page
    margin: auto
    width: 600px
