.Container
    border-bottom: 1px solid #eee
    padding: 40px 0 20px

.Title
    font-family: Georgia, serif
    font-weight: bold
    font-size: 32px
    padding-bottom: 20px
    text-decoration: none
    color: #222
    display: block

    &:hover
        color: #1C3463

.Content
    font-size: 18px
    color: #555
