.Posts
    display: block
    background: rgba(#fff, .8)

.Title
    font-size: 56px
    font-weight: bold
    font-family: Georgia, serif

    &:after
        content: ''
        display: block
        width: 50%
        height: 2px
        background: #000
