.Slider
    position: relative
    overflow: hidden
    width: 600px
    height: 600px

.Prev,
.Next
    position: absolute
    top: 0
    bottom: 0
    z-index: 1
    height: 90px
    width: 80px
    margin: auto
    color: rgba(#fff, .4)
    font-size: 60px
    font-weight: bold
    line-height: 90px
    text-align: center
    text-shadow: 0 0 10px rgba(#000, .1)
    cursor: pointer
    transition: color .3s

    &:hover
        color: rgba(#fff, .6)

.Prev
    left: 0

    &:before
        content: '◀'

.Next
    right: 0

    &:before
        content: '▶'


.Photo
    width: 600px
    height: @width
    display: block

    &Wrap
        position: absolute
        width: @width
        height: @height

.Preload
    display: none

:global
    .slideChange-enter
        opacity: 0.01
        z-index: 1

        &.slideChange-enter-active
            opacity: 1
            transition: opacity 500ms ease-in

    .slideChange-leave
        opacity: 1
        z-index: 0

        &.slideChange-leave-active
            opacity: 0.01
            transition: opacity 450ms ease-in
