.Users
    display: block
    background: rgba(#fff, .8)

.Profile
    &Part
        display: inline-block
        width: 300px
        margin: 20px 0

    &Title
        font-weight: bold
        font-size: 18px
        text-transform: uppercase

    &Field
        margin: 5px 0

        &Label
            color: #888

            &Value
                color: #444

.Section
    &Title
        font-family: Georgia, serif
        font-weight: bold
        font-size: 44px
        &:after
            content: ''
            display: block
            height: 2px
            background-color: #000
