.Container
    display: inline-block
    width: 180px
    height: 105px
    margin: 30px 30px 30px 0
    vertical-align: top
    border-bottom: 1px solid
    box-sizing: border-box
    position: relative

    &:nth-child(3n)
        margin-right: 0

.Title
    font-family: Georgia, serif
    font-size: 20px
    text-align: center
    display: block
    color: #000
    text-decoration: none
    max-height: 66px
    overflow: hidden

.Author
    position: absolute
    bottom: 10px
    right: 5px
