.Users
  display: block
  background: rgba(#fff, .8)

.Section
  &Title
    font-family: Georgia, serif
    font-weight: bold
    font-size: 44px
    &:after
      content: ''
      display: block
      height: 2px
      background-color: #000
